<div>
	<style>
.modal {
	background-color: rgba(10, 23, 55, 0.5);
}
</style>

	<style type="text/css">
<!--
a.dcontexto {
	position: relative;
	font: 12px arial, verdana, helvetica, sans-serif;
	padding: 0;
	color: white;
	text-decoration: none;
	cursor: help;
	z-index: 24;
}

a.dcontexto:hover {
	background: transparent;
	z-index: 25;
}

a.dcontexto span {
	display: none;
}

a.dcontexto:hover span {
	display: block;
	position: absolute;
	width: 230px;
	top: 0em;
	text-align: justify;
	left: 6em;
	font: 10px Verdana, arial, helvetica, sans-serif;
	padding: 5px 10px;
	border: 1px solid #999;
	color: white;
	background-color: blue;
	word-wrap: break-word;
}
</style>

	<script type="text/javascript"
		src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script type="text/javascript">
   
</script>

	<div class="row" id="divCliente">
		<div class="col-xs-7">
			<!-- filtro somente com fefeito-->
			<div id="checkboxCamerasComDefeito" style="margin-top: 2mm;">

				<input type="checkbox" ng-model="checkedSomenteCamerasDefeito"
					ng-init="checkedSomenteCamerasDefeito = true"
					ng-change="aplicaFiltroCheckbox()"> <span
					id="spanFiltroCamerasComDefeito">Somente com Defeito </span>

			</div>


			<!--panel imagens cameras-->
			<div class="panel panel-primary"
				style="border-color: black; background-color: white; box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2); margin-top: 8px;">
				<div class="panel-heading"
					style="border-color: black; background-color: #16446b; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2)">

					<label for="example">Clientes com:</label> <select id="comboFiltro"
						name="filtro" class="autocomplete" ng-click="getSelectValue()"
						style="height: 20px; color: #16446b">
						<option value="1">Todos</option>
						<option value="2">({{qtdTarefasLabelsNao}}) Labels não
							satisfazem 20%</option>
						<option value="3">({{qtdTarefasErroServidor}}) Erro
							Conexão Servidor.</option>
						<option value="4">({{qtdTarefasNoReferencias}}) Câmera
							sem referências.</option>
						<option value="5">({{qtdTarefasNaoPossivelObterImagem}})
							Não foi possível obter imagem.</option>
						<select>
							<!--<button type="button" style="margin-left: 2px;" ng-show="showBotoes" id="filtrar" class="btn btn-success btn-acoes" data-backdrop="static" data-keyboard="false"
                                        ng-model="acao" ng-click="getSelectValue()"
                                        ng-disabled="false">
                                    Filtrar
                                </button>
                         -->

							<!-- 
                    Trecho comentado que mostra o total de tarefas abertas por status
                    <b style="font-size: 12px">Qtd por status: </b>
                   <b style="font-size: 25px;color: green"> *</b> <b style="font-size: 10px"> {{qtdTarefasLabelsNao}}</b>
                   <b style="font-size: 25px;;color: red"> *</b> <b style="font-size: 10px"> {{qtdTarefasErroServidor}}</b>
                   <b style="font-size: 25px;;color: blue"> *</b> <b style="font-size: 10px"> {{qtdTarefasNoReferencias}}</b>
                   <b style="font-size: 25px;;color: orange"> *</b> <b style="font-size: 10px"> {{qtdTarefasNaoPossivelObterImagem}}</b>
                   <b style="font-size: 25px;;color: yellow"> *</b> <b style="font-size: 10px"> {{qtdTarefasImagemReprocessada}}</b>
-->
				</div>

				<!-- panel body imagens camera -->
				<div class="panel-body box-container"
					style="border-color: white; background-color: white; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); margin-top: 8px;">
					<div ng-show="msgCameras !== ''">
						<p class="carousel-text-caption" style="text-align: center">{{msgCameras}}
							{{}} Aguarde até o próximo processamento e tenha um bom dia.</p>
					</div>
					<div ng-if="slides.length > 0">
						<!-- carousel  -->

						<div class="main-carousel col-xs-12 col-md-8"
							style="width: 78%; height: 900px; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);">
							<div class="carousel-text-caption" style="color: red" id="tt2">
								<b>{{validaTermo}}</b>
							</div>
							<ui-carousel style="max-height: 450px;margin-top:10px"
								slides="slides" dots="true" fade="true" easing="true" on-ch
								on-after-change="onCarouselAfterChange(currentSlide)"
								on-init="onCarouselInit()"
								on-before-change="onCarouselBeforeChange(currentSlide)"
								initial-slide="0"> <carousel-item
								class="carousel-item" style="width: 100%">
							<div>
								<div
									ng-show="item.pathImagem !== 'erro' && item.pathImagem !== undefined">
									<img class="lazyload"
										style="border: 15px solid; border-color: #000000;"
										ng-src="{{item.pathImagem || '//:0'}}">
								</div>
								<div style="width: 100%"
									ng-show="item.pathImagem === 'erro' || item.pathImagem === undefined">
									<img class="lazyload"
										style="border: 15px solid; border-color: #000000;"
										ng-src="{{'./images/sem_imagem.png' || '//:0'}}">
								</div>
								<div>
									<p id="carousel-title-caption">{{item.camera.nomeCamera}}</p>
									<p class="ng-binding">
										<b>Data Captura: </b> {{item.dataProcessamento |
										date:'dd/MM/yyyy HH:mm:ss '}} <b style="margin-left: 1cm">Id
											Câmera: </b> {{item.camera.idCamera}}
									</p>


								</div>
								<p class="carousel-text-caption"
									ng-show="item.descricaoProblema !== null">
									<b>Descrição:</b>
								</p>
								<p class="white-space-pre-line"
									style="border: 1px solid; border-color: gainsboro;">
									{{item.descricaoProblema}} <br> {{item.justificativa}}
								</p>

							</div>
							</carousel-item> </ui-carousel>
							<br></br>
							<button type="image"
								src="https://image.flaticon.com/icons/svg/270/270021.svg"
								style="margin-left: 2px; font-size: 10px; background-color: #16446b"
								ng-show="showBotoes" id="rat" class="btn btn-success btn-acoes"
								data-backdrop="static" data-keyboard="false" ng-model="acao"
								ng-click="sendRat()">
								Enviar RAT <img ng-src="./images/mail.png" width="16" />
							</button>
							<p></p>
							<b
								style="color: orangered; font-family: Arial; font-weight: bold; margin-top: 10px;">CÂMERAS
								À TRATAR: {{countDefeito}}</b><b
								style="color: lightseagreen; font-family: Arial; font-weight: bold; margin-top: 10px;">
								/ {{countTotal}} </b>
							<div class="row">
								<button type="button"
									style="margin-left: 2px; font-size: 10px; background-color: #16446b"
									ng-show="showBotoes" id="reprocessar"
									class="btn btn-success btn-acoes" data-backdrop="static"
									data-keyboard="false" ng-model="acao" ng-click="reprocessar()">
									Processar Agora <img ng-src="./images/process.png" width="16" />
								</button>
								<button type="button"
									style="font-size: 10px; background-color: #16446b"
									ng-show="showBotoes" class="btn btn-primary col-md-4 btn-acoes"
									ng-click="atualizarImagemAoVivo()">
									Atualizar Ao Vivo <img ng-src="./images/live.png" width="16" />
								</button>
								<button type="button" ng-show="slideSelecionado !== undefined"
									class="btn btn-primary col-md-4 btn-acoes" data-toggle="modal"
									data-target="#myModalAoVivo"
									style="font-size: 10px; background-color: #16446b"
									" ng-click="imagemAoVivo()">
									Imagem Ao Vivo <img ng-src="./images/live.png" width="16" />
								</button>



							</div>

							<!-- btns ações -->
							<div class="row" ng-show="showBotoes" style="padding-bottom: 2px">
								<div class="btn-group" role="group" aria-label="Ações"
									style="padding-top: .5cm">
									<button type="button" id="salvarReferencia"
										style="margin-left: 5px; width: 110px; font-size: 10px; background-color: #187818"
										class="btn btn-success btn-acoes" ng-model="acao"
										ng-click="selecionarAcao(1)"
										ng-disabled="slideSelecionado.listLabels === null || slideSelecionado.listLabels.length < 3 ">
										Salvar Referência <img ng-src="./images/live.png" width="16" />
									</button>
									<button type="button"
										style="margin-left: 5px; width: 110px; font-size: 10px; background-color: #16446b"
										id="abrirOS" class="btn btn-info btn-acoes" ng-model="acao"
										ng-click="selecionarAcao(2)">
										OS Técnico <img ng-src="./images/tecnico.png" width="16" />
									</button>
									<button type="button"
										style="margin-left: 5px; width: 110px; font-size: 10px; background-color: #16446b"
										id="abrirOSAssessoria" class="btn btn-info btn-acoes"
										ng-model="acao" ng-click="selecionarAcao(5)">
										Os Assessoria <img ng-src="./images/acessor.png" width="16" />
									</button>
									<button type="button"
										style="margin-left: 5px; width: 110px; font-size: 10px; background-color: #16446b;"
										id="ignorar" class="btn btn-warning btn-acoes" ng-model="acao"
										ng-click="selecionarAcao(3)">
										Ignorar Esta <img ng-src="./images/ignorar.png" width="16" />
									</button>
									<button type="button"
										style="margin-left: 5px; width: 110px; font-size: 10px; background-color: #16446b;"
										id="ignorarTodas" class="btn btn-danger btn-acoes"
										ng-model="acao" ng-click="selecionarAcao(4)">
										Ignorar Todas <img ng-src="./images/ignorartodos.png"
											width="16" />
									</button>
									<button type="button"
										style="margin-left: 5px; width: 110px; font-size: 10px; background-color: #187818"
										id="desativarCliente"
										class="btn btn-success btn-acoes ng-pristine ng-valid ng-empty ng-touched 
                                            ng-model="
										acao" ng-click="selecionarAcao(6)">
										Inserir Termo <img ng-src="./images/termo.png" width="16" />
									</button>
								</div>
							</div>
							<!-- /btns ações -->
							<!-- formulário -->
							<div class="row" ng-show="showForm">

								<div class="form">
									<form name="formAcao">
										<fieldset class="form-group">
											<div style="margin-left: 12px; margin-right: 24px;">
												<p
													style="margin-left: 4px; text-align: left; margin-top: 10px; margin-right: 4px; font-size: 14px; font-weight: bold;">
													Justificativa:</p>
												<center>
													<button class="btn btn-primary btn-small pull-right"
														style="height: 70px; width: 80px; background-color: #16446b"
														ng-disabled="formAcao.$invalid && disableBtnSalvar"
														ng-click="salvar()">
														Avançar <img ng-src="./images/avancar.png" width="16" />
													</button>

												</center>
												<textarea class="form-control"
													ng-model="formulario.justificativa" maxlength="500"
													rows="3" cols="80"
													style="resize: true; margin: 0px -20px 0px 0px; width: 80%; height: 70px;"
													ng-required="true"></textarea>
												<div class="float-sm-left"></div>
											</div>


										</fieldset>
									</form>
								</div>

							</div>
							<!--
                             <b style="font-size: 12px">Legendas:</b><b style="font-size: 10px"></b></br>
                            <b style="font-size: 25px;color: green">*</b>Labels não satisfazem 20% <b style="font-size: 10px"></b>
                             <b style="font-size: 25px;;color: red">*</b>Erro Conexão Servidor. <b style="font-size: 10px"></b>
                             <b style="font-size: 25px;;color: blue">*</b>Câmera sem referências. <b style="font-size: 10px"></b>
                             <b style="font-size: 25px;;color: orange">*</b>Não foi possível obter imagem. <b style="font-size: 10px"></b>
                             <b style="font-size: 25px;;color: yellow">*</b>Tarefa reprocessada. <b style="font-size: 10px"></b>
                            -->
							<!-- /formulário -->
						</div>

						<!-- tabela labels  -->
						<div class="col-xs-6 col-md-3"
							style="padding-right: none; padding-left: none; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); width: 17%; height: 900px">
							<div style="text-align: center">
								<label style="font-size: 35px"
									ng-style="{{porcentagemMatchImagemRef}} > 20 && {'color':'green'} || {'color': '#9f4709'}"
									ng-show="labelsImagemCamera.length > 0">{{porcentagemMatchImagem}}%</label>
							</div>
							<center>
								<table class="table table-bordered table-labels"
									ng-show="labelsImagemCamera.length > 0">
									<tbody>
									<thead>
										<tr>
											<th scope="col">Labels</th>
											<th scope="col">{{porcentagemMatchImagem}}%</th>
										</tr>
									</thead>
									<tr
										ng-repeat="label in labelsImagemCamera | orderBy: 'descricao':true">
										<td scope="row" ng-class="{'success': label.match }">
											{{label.descricao}}</td>
										<td ng-class="{'success': label.match }">{{label.confidence}}%</td>
									</tr>
									</tbody>
								</table>
							</center>
						</div>
						<!-- /tabela labels  -->
					</div>

					<div ng-show="slides.length === 0">

						<div ng-show="tarefa.falha" class="carousel-text-caption"
							style="text-align: justify; padding: 10px">
							<div class="row">
								<p class="carousel-text-caption">
									<b>Servidor: </b> {{tarefa.cliente.servidorCftv}}
								</p>
								<p class="carousel-text-caption">
									<b>Tentativas: </b> {{tarefa.tentativas}}
								</p>
								<p class="carousel-text-caption">
									<b>Falha: </b>
								</p>
								<p class="white-space-pre-line">{{tarefa.descricaoFalha}}</p>
							</div>

							<!-- btns ações -->
							<div class="row" style="text-align: center">
								<div class="btn-group" role="group" aria-label="Ações">
									<button type="button" style="margin-left: 2px;"
										id="reprocessarFalha" class="btn btn-success btn-acoes"
										data-backdrop="static" data-keyboard="false"
										ng-model="acaoClienteComFalha" ng-click="reprocessar()">
										Processar Agora</button>
									<button type="button" id="abrirOS"
										class="btn btn-info btn-acoes" ng-model="acaoClienteComFalha"
										ng-click="selecionarAcaoClienteComFalha(1)"
										style="margin-left: 5px; width: 110px">OS Técnico</button>
									<button type="button" id="abrirOSAssessoria"
										class="btn btn-info btn-acoes" ng-model="acaoClienteComFalha"
										ng-click="selecionarAcaoClienteComFalha(5)"
										style="margin-left: 5px; width: 110px">OS Assessoria
									</button>
									<button type="button" id="ignorar"
										class="btn btn-warning btn-acoes"
										ng-model="acaoClienteComFalha"
										ng-click="selecionarAcaoClienteComFalha(2)"
										style="margin-left: 5px; width: 85px">Ignorar</button>
									<button type="button" style="margin-left: 5px; width: 110px"
										id="desativarCliente"
										class="btn btn-success btn-acoes ng-pristine ng-valid ng-empty ng-touched"
										ng-model="acaoClienteComFalha"
										ng-click="selecionarAcaoClienteComFalha(6)">Inserir
										Termo</button>
								</div>
							</div>

							<!-- formulário -->
							<div class="row" ng-show="showFormClienteComFalha">

								<div class="formClienteComFalha">
									<form name="formAcaoClienteComFalha">
										<fieldset class="form-group">
											<div>
												<p
													style="margin-left: 4px; text-align: left; margin-top: 10px; margin-right: 4px; font-size: 14px; font-weight: bold;">
													Justificativa:</p>
												<center>
													<!-- ng-disabled="(formAcaoClienteComFalha.$invalid || disableBtnSalvar)"-->
													<button class="btn btn-primary btn-small pull-right"
														style="height: 70px; width: 80px; background-color: #16446b"
														ng-click="salvarClienteComFalha()">Avançar</button>
												</center>
												<textarea class="form-control"
													ng-model="formulario.justificativa" maxlength="500"
													rows="6" cols="80"
													style="resize: true; margin: 0px -20px 0px 0px; width: 80%; height: 70px;"
													ng-required="true"></textarea>
											</div>
											<div class="float-sm-right"></div>

										</fieldset>
									</form>
								</div>

								<!--
                                <b style="font-size: 12px">Legendas:</b><b style="font-size: 10px"></b></br>
                            <b style="font-size: 25px;color: green">*</b>Labels não satisfazem 20% <b style="font-size: 10px"></b>
                             <b style="font-size: 25px;;color: red">*</b>Erro Conexão Servidor. <b style="font-size: 10px"></b>
                             <b style="font-size: 25px;;color: blue">*</b>Câmera sem referências. <b style="font-size: 10px"></b>
                             <b style="font-size: 25px;;color: orange">*</b>Não foi possível obter imagem. <b style="font-size: 10px"></b>
                             <b style="font-size: 25px;;color: yellow">*</b>Tarefa reprocessada. <b style="font-size: 10px"></b>
                         -->
							</div>
							<!-- /formulário -->
						</div>
					</div>

				</div>
				<!-- panel body imagens camera -->
			</div>
		</div>
		<!--/panel imagens cameras-->
		<div class="col-xs-5" style="margin-top: 8px">

			<!--panel imagens referencia-->
			<div class="panel-heading"
				style="border-color: black; background-color: #16446b; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2)">
				<h3 class="panel-title" style="color: white">
					<a href="#" class="dcontexto" data-html="true">Operadores
						Online:</a>{{qtdOperadores}}
					<button type="button" class="btn btn-primary col-md-4 btn-acoes"
						data-toggle="modal"
						style="background-color: #3a659e; width: 60px; margin-top: 0px;"
						ng-click="detalhesOperadores()">Detalhes</button>

				</h3>


			</div>

			<!-- panel body referencias -->
			<div class="panel-body box-container-referencias"
				style="background-color: white; border-color: white; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);">
				<div ng-if="slidesReferencias.length > 0">
					<!-- tabela labels referencia -->
					<div class="col-xs-5 col-md-3"
						style="margin-top: 8px; margin-left: 4px; padding-right: none; padding-left: none; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); width: 26%; height: 900px">
						<div style="text-align: center">
							<label style="font-size: 35px"
								ng-style="{{porcentagemMatchImagemRef}} > 20 && {'color':'green'} || {'color': '#9f4709'}"
								ng-show="labelsImagemReferencia.length > 0">{{porcentagemMatchImagemRef}}%</label>
						</div>
						<center>
							<table class="table table-bordered table-labels-referencia"
								ng-show="labelsImagemReferencia.length > 0">
								<tbody>
								<thead>
									<tr>
										<th scope="col">Labels</th>
										<th scope="col">{{porcentagemMatchImagemRef}}%</th>
									</tr>
								</thead>
								<tr
									ng-repeat="label in labelsImagemReferencia | orderBy: 'descricao':true">
									<td scope="row" ng-class="{'success': label.match }">
										{{label.descricao}}</td>
									<td ng-class="{'success': label.match }">{{label.confidence}}%</td>
								</tr>
								</tbody>
							</table>
						</center>
					</div>
					<!-- /tabela labels referencia -->
					<!-- carousel referencias -->
					<div class="main-carousel-referencias  col-xs-10 col-md-6"
						style="height: 908px; width: 70%; margin-left: 12px; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);">
						<div id='carousel-custom' class='carousel slide'
							data-ride="carousel">
							<div class='carousel-outer'>
								<div class='carousel-inner'>
									<div ng-class="slide.active ? 'item active' : 'item'"
										ng-repeat="slide in slidesReferencias">
										<center>
											<img class="lazyload"
												style="margin-left: 5px; border: 15px solid; border-color: #000000;"
												ng-src="{{slide.pathImagem || '//:0'}}">
										</center>
										<div>
											<center>
												<p id="carousel-title-caption"
													style="margin: 10px; font-size: 11px">
													{{slide.camera.nomeCamera}}</p>
												<p class="ng-binding" style="font-size: 11px">
													<b>Data Captura: </b> {{slide.dataProcessamento |
													date:'dd/MM/yyyy HH:mm:ss '}} <b style="margin-left: 1cm">
														Id Câmera: </b> {{slide.camera.idCamera}}
												</p>
											</center>
											<p class="carousel-text-caption-referencias"
												style="font-size: 11px">
											<p></p>
											<b style="font-size: 11px">Justificativa:</b>
											<p></p>
											{{slide.justificativa}}
											</p>
											<p></p>
											<button type="button" id="deletarReferencia"
												style="background-color: #f0ad4e; font-size: 10px;"
												class="btn btn-danger btn-acoes"
												ng-click="deletarReferencia(slide)">
												Excluir Referência <img ng-src="./images/remover.png"
													width="16" />
											</button>
											<button type="button" id="deletarTodasReferencias"
												style="background-color: red; font-size: 10px;"
												class="btn btn-danger btn-acoes" style="margin-left: 1%"
												ng-click="deletarTodasReferencias(slide)">
												Excluir Todas <img ng-src="./images/removeall.png"
													width="16" />
											</button>

										</div>
									</div>
								</div>
							</div>

							<ol class='carousel-indicators'>
								<li data-target='#carousel-custom'
									data-slide-to='{{slidesReferencias.indexOf(slide)}}'
									ng-class="slide.active ? 'item active' : 'item'"
									ng-repeat="slide in slidesReferencias"
									ng-click=onCarouselRefAfterChange(slidesReferencias.indexOf(slide))>
									<img class="lazyload" ng-src="{{slide.pathImagem || '//:0'}}"
									style="width: 50px; height: 35px; border: 5px solid; border-color: green;">
								</li>
							</ol>
						</div>

					</div>
				</div>

			</div>
			<!-- /carousel referencias -->
			<div
				ng-show="slidesReferencias.length==0 || slidesReferencias==undefined">
				<p class="carousel-text-caption-referencias"
					style="text-align: center; height: 880px; padding-top: 10cm;">{{msgCamerasReferencia}}</p>
			</div>
			<!-- /panel body referencias -->
		</div>
		<!--/panel imagens referencia-->
	</div>
</div>
</div>

<!-- Modal -->
<div id="myModalAoVivo" class="modal fade" role="dialog">
	<!-- modal dialog -->
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content" style="height: 380px">
			<div class="modal-header">
				<button type="button" class="close" ng-click="limparCamposForm()"
					data-dismiss="modal">&times;</button>
				<h5 class="modal-title">Imagem Ao Vivo</h5>
			</div>
			<div class="modal-body">
				<div class="alert alert-danger fade in" style="margin: 10px"
					ng-show="msgErro !==undefined">
					<a href="#" class="close" data-dismiss="alert">&times;</a> <strong>{{msgErro}}</strong>
				</div>
				<div>
					<p ng-show="imgAoVivo===undefined">Buscando Imagem ao Vivo...</p>
					<img class="lazyload"
						style="border: 15px solid; border-color: gainsboro;"
						ng-src="{{imgAoVivo || '//:0'}}" ng-show="imgAoVivo !== undefined">
				</div>
				<center>
					<div ng-show="tarefa.cliente.statusAlarme == 1">

						<font size="1" style="color: black;"Verdana"> Status do
							Alarme:</font> <b style="color: green">ARMADO<b><input
								ng-show="tarefa.cliente.statusAlarme == 1" type="image"
								ng-src="./images/alarmear.jpg" width="20">
					</div>
				</center>
				<center>
					<div ng-show="tarefa.cliente.statusAlarme !== 1">

						<font size="1" style="color: black;"Verdana"> Status do
							Alarme:</font> <b style="color: red">DESARMADO<b><input
								ng-show="tarefa.cliente.statusAlarme !== 1" type="image"
								ng-src="./images/alarme.jpg" width="20">
					</div>
				</center>

				<button type="button" class="btn btn-primary"
					style="margin-top: 10px" ng-click="imagemAoVivo()">Atualizar
					Imagem</button>
			</div>
			<!--/panel imagem ao vivo-->
		</div>
	</div>
	<!-- Modal content-->
</div>

<!-- Modal -->
<div id="myModalDetalheOs" class="modal fade" role="dialog">
	<!-- modal dialog -->
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content" style="height: 380px">
			<div class="modal-header">
				<button type="button" class="close" ng-click="limparCamposForm()"
					data-dismiss="modal">&times;</button>
				<h5 class="modal-title">Detalhes da OS
					{{historicoOs[indexOsSelecionado].abertura.substring(8,
					10)}}/{{historicoOs[indexOsSelecionado].abertura.substring(5,
					7)}}/{{historicoOs[indexOsSelecionado].abertura.substring(0, 4)}}</h5>
			</div>
			<div class="modal-body">
				<div class="panel-body collapsed"
					style="border: 10px solid; border-color: gainsboro;" id="os1">

					<div class="col-xs-12">
						<div class="col-xs-12 col-md-12">
							<font size="1" style="color: black" face="Verdana"> <b>ID
									OS:</b>
							</font> <b style="color: #3a5f97">{{historicoOs[indexOsSelecionado].id}}</b>

						</div>
						<div class="col-xs-12 col-md-12">
							<font size="1" style="color: black" face="Verdana"> <b>DEFEITO:</b>
							</font> <b style="color: #3a5f97">{{historicoOs[indexOsSelecionado].descricao}}</b>

						</div>

						<div class="col-xs-12 col-md-12"
							ng-show="historicoOs[indexOsSelecionado].fechado == 1">
							<font size="1" style="color: black" face="Verdana"> <b
								style="color: black"> OS ABERTA? </b><b style="color: green">NÂO</b>
							</font>
						</div>

						<div class="col-xs-12 col-md-12"
							ng-show="historicoOs[indexOsSelecionado].fechado !== 1">
							<font size="1" style="color: black" face="Verdana"> <b>OS
									ABERTA?</b> <b style="color: red">SIM</b>
							</font>
						</div>
					</div>

					<div class="col-xs-12">
						<div class="col-xs-12 col-md-12">
							<font size="1" style="color: black" face="Verdana"> <b
								style="color: black">ID INSTALADOR:</b>
							</font><b style="color: #3a5f97">{{historicoOs[indexOsSelecionado].cdTecnicoResponsavel}}</b>

						</div>
						<div class="col-xs-12 col-md-12">
							<font size="1" style="color: black" face="Verdana"> <b>EXECUTADO:</b>
							</font> <b style="color: #3a5f97">{{historicoOs[indexOsSelecionado].executado}}</b>

						</div>
						<div class="col-xs-12 col-md-12">
							<font size="1" style="color: black" face="Verdana"> <b>CAUSA/DEFEITO:</b>
							</font> <b style="color: #3a5f97">{{historicoOs[indexOsSelecionado].descricaoCausaDefeito}}</b>

						</div>

						<div class="col-xs-12 col-md-12">
							<font size="1" style="color: #16446b" face="Verdana"> <b>DATA
									FECHAMENTO:</b>
							</font> <b style="color: #3a5f97">{{historicoOs[indexOsSelecionado].fechamento.substring(8,
								10)}}/{{historicoOs[indexOsSelecionado].fechamento.substring(5,
								7)}}/{{historicoOs[indexOsSelecionado].fechamento.substring(0,
								4)}}</b>

						</div>

					</div>
				</div>

				<center>
					<button type="button" class="btn  btn-primary btn-xs btn-filtro"
						style="background-color: #3a659e; height: auto; width: auto; margin: 5px;"
						ng-click="criapdf('myModalDetalheOs')">
						Imprimir <img ng-src="./images/pdf.png" width="20" />
					</button>

				</center>
			</div>
			<!--/panel imagem ao vivo-->
		</div>
	</div>
	<!-- Modal content-->
</div>



<div id="myModalSucesso" class="modal fade" onclick="false"
	role="dialog">
	<!-- modal dialog -->
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content" style="height: 150px">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">CFTV Informa</h4>
			</div>
			<div class="modal-body">
				<center>
					<p></p>
					<p></p>
					<p></p>
					<h4 class="modal-content">Finalizado com Sucesso.</h4>

				</center>
			</div>
			<!--/panel imagem ao vivo-->
		</div>
	</div>
	<!-- Modal content-->
</div>

<div id="myModalDetalhesEmail" class="modal fade" onclick="false"
	role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content" style="height: 150px"></div>
	</div>
	<!-- Modal content-->
</div>

<div id="myModalDetalhesOperadores" class="modal fade" onclick="false"
	role="dialog">
	<!-- modal dialog -->
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content" style="height: 150px">
			<div class="modal-header">
				<h4 class="modal-title">Operadores Online:</h4>
			</div>
			<div class="modal-body">
				<font size="2" style="color: blue;"Verdana">{{operadoresAtivos}}</font>
			</div>
			<!--/panel imagem ao vivo-->
		</div>
	</div>
	<!-- Modal content-->
</div>


<div id="myModalAguarde" class="modal fade" onclick="false"
	role="dialog">
	<!-- modal dialog -->
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content" style="height: 150px">
			<div class="modal-header">
				<h4 class="modal-title">CFTV Informa:</h4>
			</div>
			<div class="modal-body">
				<center>
					<p></p>
					<p></p>
					<p></p>
					<h4 class="modal-content">Reprocessamento em andamento,
						aguarde...</h4>

				</center>
			</div>
			<!--/panel imagem ao vivo-->
		</div>
	</div>
	<!-- Modal content-->
</div>

<div id="myModalAguarde2" class="modal fade" onclick="false"
	role="dialog">
	<!-- modal dialog -->
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content" style="width: 800px; color: blue">
			<div class="modal-header">
				<h4 class="modal-title">CFTV Informa:</h4>
			</div>
			<div class="modal-body">
				<font size="2" style="color: black;"Verdana"> Texto do Email
					enviado:</font><br></br> <font size="1" style="color: blue;"Verdana">
					{{historicoRats[indexRat].body}}</font>


				<script>
    require([
      'froala-editor',
      'froala-editor/js/plugins/align.min'
    ], function(FroalaEditor) {
      new FroalaEditor('#edit')
    });
  </script>
			</div>
			<!--/panel imagem ao vivo-->
		</div>
	</div>
	<!-- Modal content-->
</div>
<!--/modal dialog -->
</div>