<!-- filtro -->
<div>
	<div id="inputFiltroHistory" class="autocomplete" angucomplete-alt
		placeholder="Clique aqui para pesquisar o Histórico dos ultimos processamentos de clientes que não estão em tela. Filtrar Por: CD Cliente ou Razão Social"
		style="border: 1px solid #3200aa;"
		textNoResults="Nenhum Resultado encontrado" pause="300"
		selected-object="tarefaSelecionadaHistory"
		local-data="tarefasFiltroAll" local-search="autoCompleteFiltroAll"
		title-field="cliente.razaoSocial,cliente.cdCliente,cliente.estado"
		description-field="cliente.ultimoProcessamento" minlength="2"
		input-class="form-control" match-class="highlight"
		clear-selected="true" input-class="form-control form-control-small">
	</div>

	<div>
		<div>
			<a
				href="https://apps.orsegups.com.br:8080/cas/logout?service=cftv-inteligente.orsegups.com.br"><button
					type="button"
					class="btn  btn-primary btn-xs 
                btn-filtro"
					style="background-color: #b8550f; width: 50px; margin-top: 5mm; margin-right: 2mm">
					SAIR</button></a>
		</div>
		<button type="button"
			class="btn  btn-primary btn-xs
                btn-filtro"
			id="btnproximo"
			style="background-color: #3a659e; width: 50px; margin-top: 2mm;"
			ng-click="proximaTarefaFiltro()">
			<img ng-src="./images/avancar.png" width="30" />
		</button>

	</div>

	<div id="inputFiltro" class="autocomplete" angucomplete-alt
		placeholder="Filtrar Por: CD Cliente ou Razão Social"
		textNoResults="Nenhum Resultado encontrado" pause="300"
		selected-object="tarefaSelecionada" local-data="tarefasFiltro"
		local-search="autoCompleteFiltro" style="margin-top: 9px;"
		title-field="cliente.razaoSocial,cliente.cdCliente,cliente.estado"
		description-field="cliente.ultimoProcessamento" minlength="2"
		input-class="form-control" match-class="highlight"
		clear-selected="true" input-class="form-control form-control-small">
	</div>

	<div>
		<button type="button"
			class="btn  btn-primary btn-xs 
                btn-filtro"
			id="btnanterior"
			style="background-color: #3a659e; width: 50px; margin-top: 2mm;"
			ng-click="tarefaAnterior()">
			<img ng-src="./images/voltar.png" width="30" />

		</button>
	</div>

</div>

<!--panel info cliente-->
<div class="panel panel-primary"
	style="border-color: black; background-color: white; box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2); margin-top: 8px;">
	<div class="panel-heading collapsed" data-toggle="collapse"
		data-target="#collapseInfoCliente"
		style="border-color: black; background-color: #16446b; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2)">
		<h3 class="panel-title">
			Qtde. Tarefas: <b class="panel-title" ng-show="qtdTarefas > 100"
				style="color: red"> {{qtdTarefas}}</b><b class="panel-title"
				ng-show="qtdTarefas <= 100" style="color: #05ff05">
				{{qtdTarefas}}</b> | Cliente: {{tarefa.cliente.cdCliente}} |
			{{tarefa.cliente.idCentral}} [{{tarefa.cliente.particao}}] -
			{{tarefa.cliente.fantasia |
			limitTo:30}}{{tarefa.cliente.fantasia.length >= 30 ?'...': ''}}
	</div>



	<!--collapse-->
	<div id="collapseInfoCliente" class="collapse">
		<!-- panel body info cliente -->
		<div class="panel-body">

			<!-- panel group info cliente -->
			<div class="panel-group">

				<!-- panel dados cliente-->
				<div id="panelInfoCliente" class="panel panel-primary"
					style="border-color: white; background-color: white; box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2); margin-top: 8px;">

					<div class="panel-heading"
						style="border-color: black; background-color: #16446b; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2)">

						<h4 class="panel-title">Dados do Cliente</h4>

					</div>

					<!-- dados cliente  -->
					<div class="panel-body">

						<table id="example" class="table table-striped table-bordered"
							style="width: 100%; color: #727477;; font-size: 12px">
							<thead>
								<tr style="">
									<th>CÓDIGO DO CLIENTE</th>
									<th>RAZÃO SOCIAL</th>
									<th>FANTASIA</th>
									<th>CPF/CNPJ</th>
									<th>EMAIL</th>
									<th>CADASTRO DO CLIENTE</th>
									<th data-toggle="tooltip" data-placement="top"
										title=" Considerada para: fantasia, servidor cftv, termo aberto. Não inclui:
                                    Câmeras, Imagens, Tarefas e Processamentos."><b
										style="color: red">|* ?|</b>ULTIMA ALTERAÇÃO DE DADOS</th>
									<th>TERMO ABERTO</th>

								</tr>
							</thead>
							<tbody>


								<tr>
									<td>{{tarefa.cliente.cdCliente}}</td>
									<td><b> Razão Social: {{tarefa.cliente.razaoSocial}}</b></td>
									<td>{{tarefa.cliente.fantasia}}</td>
									<td><b>{{tarefa.cliente.cpfCnpj}}</b></td>

									<td><a href="#">{{tarefa.cliente.email}}</a></td>
									<td><b style="color: green">{{tarefa.cliente.dataCadastro.substring(8,
											10)}}/{{tarefa.cliente.dataCadastro.substring(5,
											7)}}/{{tarefa.cliente.dataCadastro.substring(0, 4)}}</b></td>
									<td><b style="color: green; font-weight: inherit;">Alterado
											Em: {{tarefa.cliente.ultimaAlteracao.substring(8,
											10)}}/{{tarefa.cliente.ultimaAlteracao.substring(5,
											7)}}/{{tarefa.cliente.ultimaAlteracao.substring(0, 4)}}</b></td>
									<td ng-show="tarefa.cliente.ativo == true"><b
										style="color: green">NÂO<b></td>
									<td ng-show="tarefa.cliente.ativo !== true"><b
										style="color: red">SIM<b></td>

								</tr>



							</tbody>
							<tfoot>


							</tfoot>
						</table>

					</div>



				</div>
				<!-- /dados cliente  -->
			</div>
			<!-- panel dados cliente-->


			<!-- panel dados conta-->


			<div class="panel-heading"
				style="border-color: black; background-color: #16446b; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2)">
				<h4 class="panel-title">Dados da Conta/Partição e Contato
					Cliente</h4>
			</div>

			<!-- dados conta/partição  -->
			<div class="panel-body">

				<table id="example" class="table table-striped table-bordered"
					style="width: 100%; color: #727477;; font-size: 12px">
					<thead>
						<tr>
							<th>CÓDIGO CENTRAL</th>
							<th>PARTIÇÃO</th>
							<th>SERVIDOR</th>
							<th>ENDEREÇO</th>
							<th>TIPO DE EQUIPAMENTO</th>
							<th>ENTRAR EM CONTATO</th>

							<th><b style="color: red" data-placement="top"
								title=" Corresponde ao status no momento da abertura da tarefa.">|*
									?|</b> STATUS DO ALARME</th>



						</tr>
					</thead>
					<tbody>


						<tr>
							<td><b style="color: black; font-weight: inherit;">{{tarefa.cliente.idCentral}}</b>
							</td>
							<td><b style="color: black; font-weight: inherit;">{{tarefa.cliente.particao}}</b></td>
							<td><b style="color: black; font-weight: inherit;"><a
									href="https://{{tarefa.cliente.servidorCftv}}/camera.cgi?camera={{item.camera.idCamera}}&receiver={{tarefa.cliente.idEmpresa}}&resolucao=320x240&qualidade=70"
									target="_blank">{{tarefa.cliente.servidorCftv}}</a></td>
							<td>{{tarefa.cliente.endereco}}, {{tarefa.cliente.bairro}}.
								Cidade: {{tarefa.cliente.cidade}}/{{tarefa.cliente.estado}}. cep
								{{tarefa.cliente.cep}}</td>

							<td ng-show="tarefa.cliente.alugadoProprio == 0"><font
								size="1" ng-show="tarefa.cliente.alugadoProprio == 0"
								face="Verdana" style="color: green;"> ALUGADO </font></td>

							<td ng-show="tarefa.cliente.alugadoProprio == 1"><font
								size="1" ng-show="tarefa.cliente.alugadoProprio == 1"
								face="Verdana" style="color: blue;"> PRÓPRIO </font></td>
							<td><b style="color: black; font-weight: inherit;">{{tarefa.cliente.fone1}}</b>
								<input ng-show="tarefa.cliente.fone1 !== null" type="image"
								ng-src="./images/watsapp.png" width="20" ng-click="clickFone()">
								<font size="1" face="Verdana" style="color: black;">
									{{tarefa.cliente.fone2}} </font> <input
								ng-show="tarefa.cliente.fone2 !== null" type="image"
								ng-src="./images/watsapp.png" width="20" ng-click="clickFone2()">
								<font size="1" face="Verdana" style="color: black;">
									{{tarefa.cliente.celular}} </font> <input type="image"
								ng-show="tarefa.cliente.celular !== null"
								ng-src="./images/watsapp.png" width="20"
								ng-click="clickFoneCel()"></td>

							<td ng-show="tarefa.cliente.statusAlarme !== 1"><font
								size="1" style="color: black;"Verdana"> </font> <b
								style="color: red">DESARMADO<b> <input type="image"
										ng-src="./images/alarme.jpg" width="20">
										<button type="button"
											class="btn  btn-primary btn-xs
                                    btn-filtro"
											id="btnatualizaalarme"
											style="background-color: #3a659e; width: 100px; width: 25px;"
											width="20" ng-click="getDadosCentralAlarme()">
											<img ng-src="./images/refresh.png" width="15"
												src="./images/refresh.png">
										</button></td>

							<td ng-show="tarefa.cliente.statusAlarme == 1"><font
								size="1" style="color: black;"Verdana"> </font> <b
								style="color: green">ARMADO<b><input type="image"
										ng-src="./images/alarmear.jpg" width="20">
										<button type="button"
											class="btn  btn-primary btn-xs
                                    btn-filtro"
											id="btnatualizaalarme"
											style="background-color: #3a659e; width: 100px; width: 25px;"
											width="20" ng-click="getDadosCentralAlarme()">
											<img ng-src="./images/refresh.png" width="15"
												src="./images/refresh.png">
										</button></td>





						</tr>

					</tbody>
					<tfoot>


					</tfoot>
				</table>


			</div>
			<!-- /dados conta/particao  -->
		</div>
		<!-- panel dados conta-->


		<!-- /contatos  -->

	</div>
	<div class="panel panel-primary" id="listaos"
		style="border-color: #000000; background-color: white; box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2); margin-top: 8px;">
		<div class="panel-heading collapsed" data-toggle="collapse"
			data-target="#collapseInfohistorico"
			style="border-color: black; background-color: #16446b; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2)">

			<h3 class="panel-title">
				<center>VER HISTÓRICOS (clique para visualizar)</center>
		</div>
		<div id="collapseInfohistorico" class="collapse">
			<div class="panel panel-primary" id="listaos"
				ng-show="historicoOs.length > 0"
				style="border-color: white; background-color: white; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); margin-top: 8px;">
				<center>
					<button type="button" class="btn  btn-primary btn-xs btn-filtro"
						ng-show="historicoOs.length > 0"
						style="background-color: #3a659e; height: auto; width: auto; margin: 5px;"
						ng-click="criapdf('listaos')">
						<img ng-src="./images/pdf.png" width="20" />
					</button>

				</center>
				<div class="panel-heading collapsed" data-toggle="collapse"
					ng-show="historicoOs.length > 0" data-target="#collapseInfoOs"
					style="border-color: black; background-color: #003058; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2)">

					<h3 class="panel-title">
						<center>OS Abertas (clique para visualizar)</center>
				</div>
				<!--collapse-->
				<div id="collapseInfoOs" class="collapse">

					<table id="example" class="table table-striped table-bordered"
						style="width: 100%; color: #727477;; font-size: 12px">
						<thead>
							<tr>
								<th>DETALHES</th>
								<th>DATA ABERTURA</th>
								<th>ID OS</th>
								<th>OS ABERTA</th>
								<th>ID INSTALADOR</th>
								<th>EXECUÇÃO</th>
								<th>DATA FECHAMENTO</th>
							</tr>
						</thead>
						<tbody>

							<tr ng-show="historicoOs.length >= 0">
								<td><button type="button"
										class="btn btn-primary col-md-4 btn-acoes"
										style="background-color: #3a659e; width: 25px"
										ng-click="getDetalhesOS(0)">+</button></td>
								<td>{{historicoOs[0].abertura.substring(8,
									10)}}/{{historicoOs[0].abertura.substring(5,
									7)}}/{{historicoOs[0].abertura.substring(0, 4)}}</td>
								<td>{{historicoOs[0].id}}</td>

								<td><b ng-show="historicoOs[0].fechado == 1"
									style="color: green">NÂO</b> <b data-toggle="tooltip"
									data-placement="top"
									title=" Esta Os diferente do tipo CFTV mapeado por isto está em tela. Os tipos CFTV que serão ignorados caso tenham Os aberta são: 180 - OS-CFTV-RECUPERAR IMAGENS; 1037 - OS-CFTV INTELIGENTE; 1065 - OS-CFTV-VERIFICAR CÂMERAS; 1069 - OS-CFTV-VERIF FALHA- XRED; 1151 - OS-CFTV DIGIFORT-FALHA D004"
									ng-show="historicoOs[0].fechado !== 1" style="color: red">|*
										?|SIM</b></td>
								<td>{{historicoOs[0].cdTecnicoResponsavel}}</td>
								<td>{{historicoOs[0].executado}}</td>

								<td>{{historicoOs[0].fechamento.substring(8,
									10)}}/{{historicoOs[0].fechamento.substring(5,
									7)}}/{{historicoOs[0].fechamento.substring(0, 4)}}</td>

							</tr>
							<tr ng-show="historicoOs.length >= 1">
								<td><button type="button"
										class="btn btn-primary col-md-4 btn-acoes"
										style="background-color: #3a659e; width: 25px"
										ng-click="getDetalhesOS(1)">+</button></td>
								<td>{{historicoOs[1].abertura.substring(8,
									10)}}/{{historicoOs[1].abertura.substring(5,
									7)}}/{{historicoOs[1].abertura.substring(0, 4)}}</td>
								<td>{{historicoOs[1].id}}</td>

								<td><b ng-show="historicoOs[1].fechado == 1"
									style="color: green">NÂO</b> <b
									ng-show="historicoOs[1].fechado !== 1" style="color: red">SIM</b></td>
								<td>{{historicoOs[1].cdTecnicoResponsavel}}</td>
								<td>{{historicoOs[1].executado}}</td>

								<td>{{historicoOs[1].fechamento.substring(8,
									10)}}/{{historicoOs[1].fechamento.substring(5,
									7)}}/{{historicoOs[1].fechamento.substring(0, 4)}}</td>

							</tr>

							<tr ng-show="historicoOs.length >= 2">
								<td><button type="button"
										class="btn btn-primary col-md-4 btn-acoes"
										style="background-color: #3a659e; width: 25px"
										ng-click="getDetalhesOS(2)">+</button>
									</button></td>
								<td>{{historicoOs[2].abertura.substring(8,
									10)}}/{{historicoOs[2].abertura.substring(5,
									7)}}/{{historicoOs[2].abertura.substring(0, 4)}}</td>
								<td>{{historicoOs[2].id}}</td>

								<td><b ng-show="historicoOs[2].fechado == 1"
									style="color: green">NÂO</b> <b
									ng-show="historicoOs[2].fechado !== 1" style="color: red">SIM</b></td>
								<td>{{historicoOs[2].cdTecnicoResponsavel}}</td>
								<td>{{historicoOs[2].executado}}</td>

								<td>{{historicoOs[2].fechamento.substring(8,
									10)}}/{{historicoOs[2].fechamento.substring(5,
									7)}}/{{historicoOs[2].fechamento.substring(0, 4)}}</td>

							</tr>

							<tr ng-show="historicoOs.length >= 3">
								<td><button type="button"
										class="btn btn-primary col-md-4 btn-acoes"
										style="background-color: #3a659e; width: 25px"
										ng-click="getDetalhesOS(3)">+</button></td>
								<td>{{historicoOs[3].abertura.substring(8,
									10)}}/{{historicoOs[3].abertura.substring(5,
									7)}}/{{historicoOs[3].abertura.substring(0, 4)}}</td>
								<td>{{historicoOs[3].id}}</td>

								<td><b ng-show="historicoOs[3].fechado == 1"
									style="color: green">NÂO</b> <b
									ng-show="historicoOs[3].fechado !== 1" style="color: red">SIM</b></td>
								<td>{{historicoOs[3].cdTecnicoResponsavel}}</td>
								<td>{{historicoOs[3].executado}}</td>

								<td>{{historicoOs[3].fechamento.substring(8,
									10)}}/{{historicoOs[3].fechamento.substring(5,
									7)}}/{{historicoOs[3].fechamento.substring(0, 4)}}</td>

							</tr>

							<tr ng-show="historicoOs.length >= 4">
								<td><button type="button"
										class="btn btn-primary col-md-4 btn-acoes"
										style="background-color: #3a659e; width: 25px"
										ng-click="getDetalhesOS(4)">+</button></td>
								<td>{{historicoOs[4].abertura.substring(8,
									10)}}/{{historicoOs[4].abertura.substring(5,
									7)}}/{{historicoOs[4].abertura.substring(0, 4)}}</td>
								<td>{{historicoOs[4].id}}</td>

								<td><b ng-show="historicoOs[4].fechado == 1"
									style="color: green">NÂO</b> <b
									ng-show="historicoOs[4].fechado !== 1" style="color: red">SIM</b></td>
								<td>{{historicoOs[4].cdTecnicoResponsavel}}</td>
								<td>{{historicoOs[4].executado}}</td>

								<td>{{historicoOs[4].fechamento.substring(8,
									10)}}/{{historicoOs[4].fechamento.substring(5,
									7)}}/{{historicoOs[4].fechamento.substring(0, 4)}}</td>

							</tr>


						</tbody>
						<tfoot>
							<tr>
								<th>DETALHES</th>
								<th>DATA ABERTURA</th>
								<th>ID OS</th>
								<th>OS ABERTA</th>
								<th>ID INSTALADOR</th>
								<th>EXECUÇÃO</th>
								<th>DATA FECHAMENTO</th>

							</tr>
						</tfoot>
					</table>
				</div>



				<div class="panel panel-primary" id="listarat"
					ng-show="historicoRats.length > 0"
					style="border-color: white; background-color: white; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); margin-top: 8px;">
					<center>
						<button type="button" class="btn  btn-primary btn-xs btn-filtro"
							ng-show="historicoRats.length > 0"
							style="background-color: #3a659e; height: auto; width: auto; margin: 5px;"
							ng-click="criapdf('listarat')">
							<img ng-src="./images/pdf.png" width="20" />
						</button>

					</center>
					<div class="panel-heading collapsed"
						ng-show="historicoRats.length > 0" data-toggle="collapse"
						data-target="#collapseInfoRat"
						style="border-color: black; background-color: #003058; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2)">

						<h3 class="panel-title">
							<center>Rats Abertas (clique para visualizar)</center>
					</div>
					<!--collapse-->
					<div id="collapseInfoRat" class="collapse">

						<table id="example" class="table table-striped table-bordered"
							style="width: 100%; color: #727477;; font-size: 12px">
							<thead>
								<tr>
									<th>DETALHES</th>
									<th>DATA ABERTURA</th>
									<th>ENVIADO PARA</th>
									<th>ASSUNTO</th>
									<th>CODIGO DO CONTRATO</th>
									<th>STATUS</th>
									<th>DATA ENVIO</th>

								</tr>
							</thead>
							<tbody>


								<tr ng-show="historicoRats.length >= 1">
									<td>
										<button type="button"
											class="btn btn-primary col-md-4 btn-acoes"
											data-toggle="modal"
											style="background-color: #3a659e; width: 25px"
											ng-click="detalhesEmail(0)">+</button>
									</td>
									<td>{{historicoRats[0].registerDate.substring(8,
										10)}}/{{historicoRats[0].registerDate.substring(5,
										7)}}/{{historicoRats[0].registerDate.substring(0, 4)}} as
										{{historicoRats[0].registerDate.substring(12, 19)}}</td>
									<td><a href="#">{{historicoRats[0].mailTo}}</a></td>
									<td>{{historicoRats[0].subject}}</td>

									<td>{{historicoRats[0].externalId}}</td>
									<td ng-show="historicoRats[0].status === 1"><b
										ng-show="historicoRats[0].status === 1" style="color: yellow">EM
											ANDAMENTO</b></td>
									<td ng-show="historicoRats[0].status === 2"><b
										ng-show="historicoRats[0].status === 2" style="color: green">ENVIADO
											COM SUCESSO</b></td>
									<td ng-show="historicoRats[0].status === 90"><b
										ng-show="historicoRats[0].status === 90" style="color: red">FALHA
											AO ENVIAR</b></td>
									<td ng-show="historicoRats[0].status === 99"><b
										ng-show="historicoRats[0].status === 99" style="color: red">ERRO
											INTERNO</b></td>
									<td ng-show="historicoRats[0].status === null"><b
										ng-show="historicoRats[0].status === null" style="color: blue">N/A</b></td>
									<td>{{historicoRats[0].processedDate.substring(8,
										10)}}/{{istoricoRats[0].processedDate.substring(5,
										7)}}/{{historicoRats[0].processedDate.substring(0, 4)}} as
										{{historicoRats[0].processedDate.substring(12, 19)}}</td>


								</tr>


								<tr ng-show="historicoRats.length >= 2">
									<td>
										<button type="button"
											class="btn btn-primary col-md-4 btn-acoes"
											data-toggle="modal"
											style="background-color: #3a659e; width: 25px"
											ng-click="detalhesEmail(1)">+</button>
									</td>
									<td>{{historicoRats[1].registerDate.substring(8,
										10)}}/{{historicoRats[1].registerDate.substring(5,
										7)}}/{{historicoRats[1].registerDate.substring(0, 4)}} as
										{{historicoRats[1].registerDate.substring(12, 19)}}</td>
									<td><a href="#">{{historicoRats[1].mailTo}}</a></td>
									<td>{{historicoRats[1].subject}}</td>

									<td>{{historicoRats[1].externalId}}</td>
									<td ng-show="historicoRats[1].status === 1"><b
										ng-show="historicoRats[1].status === 1" style="color: yellow">EM
											ANDAMENTO</b></td>
									<td ng-show="historicoRats[1].status === 2"><b
										ng-show="historicoRats[1].status === 2" style="color: green">ENVIADO
											COM SUCESSO</b></td>
									<td ng-show="historicoRats[1].status === 90"><b
										ng-show="historicoRats[1].status === 90" style="color: red">FALHA
											AO ENVIAR</b></td>
									<td ng-show="historicoRats[1].status === 99"><b
										ng-show="historicoRats[1].status === 99" style="color: red">ERRO
											INTERNO</b></td>
									<td ng-show="historicoRats[1].status === null"><b
										ng-show="historicoRats[1].status === null" style="color: blue">N/A</b></td>
									<td>{{historicoRats[1].processedDate.substring(8,
										10)}}/{{istoricoRats[1].processedDate.substring(5,
										7)}}/{{historicoRats[1].processedDate.substring(0, 4)}} as
										{{historicoRats[1].processedDate.substring(12, 19)}}</td>


								</tr>


								<tr ng-show="historicoRats.length >= 3">
									<td>
										<button type="button"
											class="btn btn-primary col-md-4 btn-acoes"
											data-toggle="modal"
											style="background-color: #3a659e; width: 25px"
											ng-click="detalhesEmail(2)">+</button>
									</td>
									<td>{{historicoRats[2].registerDate.substring(8,
										10)}}/{{historicoRats[2].registerDate.substring(5,
										7)}}/{{historicoRats[2].registerDate.substring(0, 4)}} as
										{{historicoRats[2].registerDate.substring(12, 19)}}</td>
									<td><a href="#">{{historicoRats[2].mailTo}}</a></td>
									<td>{{historicoRats[2].subject}}</td>

									<td>{{historicoRats[2].externalId}}</td>
									<td ng-show="historicoRats[2].status === 1"><b
										ng-show="historicoRats[2].status === 1" style="color: yellow">EM
											ANDAMENTO</b></td>
									<td ng-show="historicoRats[2].status === 2"><b
										ng-show="historicoRats[2].status === 2" style="color: green">ENVIADO
											COM SUCESSO</b></td>
									<td ng-show="historicoRats[2].status === 90"><b
										ng-show="historicoRats[2].status === 90" style="color: red">FALHA
											AO ENVIAR</b></td>
									<td ng-show="historicoRats[2].status === 99"><b
										ng-show="historicoRats[2].status === 99" style="color: red">ERRO
											INTERNO</b></td>
									<td ng-show="historicoRats[2].status === null"><b
										ng-show="historicoRats[2].status === null" style="color: blue">N/A</b></td>
									<td>{{historicoRats[2].processedDate.substring(8,
										10)}}/{{istoricoRats[2].processedDate.substring(5,
										7)}}/{{historicoRats[2].processedDate.substring(0, 4)}} as
										{{historicoRats[2].processedDate.substring(12, 19)}}</td>


								</tr>


								<tr ng-show="historicoRats.length >= 4">
									<td>
										<button type="button"
											class="btn btn-primary col-md-4 btn-acoes"
											data-toggle="modal"
											style="background-color: #3a659e; width: 25px"
											ng-click="detalhesEmail(3)">+</button>
									</td>
									<td>{{historicoRats[3].registerDate.substring(8,
										10)}}/{{historicoRats[3].registerDate.substring(5,
										7)}}/{{historicoRats[3].registerDate.substring(0, 4)}} as
										{{historicoRats[3].registerDate.substring(12, 19)}}</td>
									<td><a href="#">{{historicoRats[3].mailTo}}</a></td>
									<td>{{historicoRats[3].subject}}</td>

									<td>{{historicoRats[3].externalId}}</td>
									<td ng-show="historicoRats[3].status === 1"><b
										ng-show="historicoRats[3].status === 1" style="color: yellow">EM
											ANDAMENTO</b></td>
									<td ng-show="historicoRats[3].status === 2"><b
										ng-show="historicoRats[3].status === 2" style="color: green">ENVIADO
											COM SUCESSO</b></td>
									<td ng-show="historicoRats[3].status === 90"><b
										ng-show="historicoRats[3].status === 90" style="color: red">FALHA
											AO ENVIAR</b></td>
									<td ng-show="historicoRats[3].status === 99"><b
										ng-show="historicoRats[3].status === 99" style="color: red">ERRO
											INTERNO</b></td>
									<td ng-show="historicoRats[3].status === null"><b
										ng-show="historicoRats[3].status === null" style="color: blue">N/A</b></td>
									<td>{{historicoRats[3].processedDate.substring(8,
										10)}}/{{istoricoRats[3].processedDate.substring(5,
										7)}}/{{historicoRats[3].processedDate.substring(0, 4)}} as
										{{historicoRats[3].processedDate.substring(12, 19)}}</td>


								</tr>

								<tr ng-show="historicoRats.length >= 5">
									<td>
										<button type="button"
											class="btn btn-primary col-md-4 btn-acoes"
											data-toggle="modal"
											style="background-color: #3a659e; width: 25px"
											ng-click="detalhesEmail(4)">+</button>
									</td>
									<td>{{historicoRats[4].registerDate.substring(8,
										10)}}/{{historicoRats[4].registerDate.substring(5,
										7)}}/{{historicoRats[4].registerDate.substring(0, 4)}} as
										{{historicoRats[4].registerDate.substring(12, 19)}}</td>
									<td><a href="#">{{historicoRats[4].mailTo}}</a></td>
									<td>{{historicoRats[4].subject}}</td>

									<td>{{historicoRats[4].externalId}}</td>
									<td ng-show="historicoRats[4].status === 1"><b
										ng-show="historicoRats[4].status === 1" style="color: yellow">EM
											ANDAMENTO</b></td>
									<td ng-show="historicoRats[4].status === 2"><b
										ng-show="historicoRats[4].status === 2" style="color: green">ENVIADO
											COM SUCESSO</b></td>
									<td ng-show="historicoRats[4].status === 90"><b
										ng-show="historicoRats[4].status === 90" style="color: red">FALHA
											AO ENVIAR</b></td>
									<td ng-show="historicoRats[4].status === 99"><b
										ng-show="historicoRats[4].status === 99" style="color: red">ERRO
											INTERNO</b></td>
									<td ng-show="historicoRats[4].status === null"><b
										ng-show="historicoRats[4].status === null" style="color: blue">N/A</b></td>
									<td>{{historicoRats[4].processedDate.substring(8,
										10)}}/{{istoricoRats[4].processedDate.substring(5,
										7)}}/{{historicoRats[4].processedDate.substring(0, 4)}} as
										{{historicoRats[4].processedDate.substring(12, 19)}}</td>


								</tr>

							</tbody>
							<tfoot>
								<tr>
									<th>DETALHES</th>
									<th>DATA ABERTURA</th>
									<th>ENVIADO PARA</th>
									<th>ASSUNTO</th>
									<th>CODIGO DO CONTRATO</th>
									<th>STATUS</th>
									<th>DATA ENVIO</th>

								</tr>
							</tfoot>
						</table>
					</div>





					<!-- panel contatos-->
				</div>
				<div class="panel panel-primary" id="listaProcessamentos"
					ng-show="historicoTarefas.length > 0"
					style="border-color: white; background-color: white; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); margin-top: 8px;">
					<center>
						<button type="button" class="btn  btn-primary btn-xs btn-filtro"
							ng-show="historicoTarefas.length > 0"
							style="background-color: #3a659e; height: auto; width: auto; margin: 5px;"
							ng-click="criapdf('listaProcessamentos')">
							<img ng-src="./images/pdf.png" width="20" />
						</button>

					</center>
					<div class="panel-heading collapsed" data-toggle="collapse"
						data-target="#collapseInfoProcessa"
						ng-show="historicoTarefas.length > 0"
						style="border-color: black; background-color: #003058; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2)">

						<h3 class="panel-title">
							<center>Processamentos (clique para visualizar)</center>
					</div>


					<!-- /panel group info cliente -->
					<div id="collapseInfoProcessa" class="collapse">
						<table id="example" class="table table-striped table-bordered"
							style="width: 100%; color: #727477; font-size: 12px">
							<thead>
								<tr>

									<th>DATA PROCESSAMENTO</th>
									<th>STATUS ALARME</th>
									<th>OPERADOR</th>
									<th>ERRO NO PROCESSAMENTO?</th>
									<th>DESCRIÇÃO DA FALHA</th>
									<th>LOG DO PROCESSAMENTO</th>
									<th>DATA ENCERRAMENTO</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-show="historicoTarefas.length >= 0">

									<td>{{historicoTarefas[0].ultimoProcessamento.substring(8,
										10)}}/{{historicoTarefas[0].ultimoProcessamento.substring(5,
										7)}}/{{historicoTarefas[0].ultimoProcessamento.substring(0,
										4)}}</td>


									<td><b ng-show="historicoTarefas[0].statusAlarme == 1"
										style="color: green">ATIVADO</b> <b
										ng-show="historicoTarefas[0].statusAlarme == 0"
										style="color: red">DESATIVADO</b><b
										ng-show="historicoTarefas[0].statusAlarme === null"
										style="color: green">N/A</b></td>
									<td>{{historicoTarefas[0].operador}}</td>
									<td><b ng-show="historicoTarefas[0].falha == 0"
										style="color: green">NÂO</b><b
										ng-show="historicoTarefas[0].falha > 0" style="color: red">SIM</b></td>
									<td><b
										ng-show="historicoTarefas[0].descricaoFalha === null"
										style="color: green">N/A</b><b
										ng-show="historicoTarefas[0].descricaoFalha !== null"
										style="color: #337ab7">{{historicoTarefas[0].descricaoFalha}}</b></td>
									<td><b
										ng-show="historicoTarefas[0].logProcessamentos !== null"
										style="color: green">{{historicoTarefas[0].logProcessamentos}}</b>
										<b ng-show="historicoTarefas[0].logProcessamentos === null"
										style="color: green">Tarefa Tratada e finalizada pelo
											operador.</b></td>

									<td>{{historicoTarefas[0].dataEncerramento.substring(8,
										10)}}/{{historicoTarefas[0].dataEncerramento.substring(5,
										7)}}/{{historicoTarefas[0].dataEncerramento.substring(0, 4)}}</td>
								</tr>

								<tr ng-show="historicoTarefas.length >= 1">

									<td>{{historicoTarefas[1].ultimoProcessamento.substring(8,
										10)}}/{{historicoTarefas[1].ultimoProcessamento.substring(5,
										7)}}/{{historicoTarefas[1].ultimoProcessamento.substring(0,
										4)}}</td>


									<td><b ng-show="historicoTarefas[1].statusAlarme == 1"
										style="color: green">ATIVADO</b> <b
										ng-show="historicoTarefas[1].statusAlarme == 0"
										style="color: red">DESATIVADO</b><b
										ng-show="historicoTarefas[1].statusAlarme === null"
										style="color: green">N/A</b></td>
									<td>{{historicoTarefas[1].operador}}</td>
									<td><b ng-show="historicoTarefas[1].falha == 0"
										style="color: green">NÂO</b><b
										ng-show="historicoTarefas[1].falha > 0" style="color: red">SIM</b></td>
									<td><b
										ng-show="historicoTarefas[1].descricaoFalha === null"
										style="color: green">N/A</b><b
										ng-show="historicoTarefas[1].descricaoFalha !== null"
										style="color: #337ab7">{{historicoTarefas[1].descricaoFalha}}</b></td>
									<td><b
										ng-show="historicoTarefas[1].logProcessamentos !== null"
										style="color: green">{{historicoTarefas[1].logProcessamentos}}</b>
										<b ng-show="historicoTarefas[1].logProcessamentos === null"
										style="color: green">Tarefa Tratada e finalizada pelo
											operador.</b></td>

									<td>{{historicoTarefas[1].dataEncerramento.substring(8,
										10)}}/{{historicoTarefas[1].dataEncerramento.substring(5,
										7)}}/{{historicoTarefas[1].dataEncerramento.substring(0, 4)}}</td>
								</tr>

								<tr ng-show="historicoTarefas.length >= 2">

									<td>{{historicoTarefas[2].ultimoProcessamento.substring(8,
										10)}}/{{historicoTarefas[2].ultimoProcessamento.substring(5,
										7)}}/{{historicoTarefas[2].ultimoProcessamento.substring(0,
										4)}}</td>


									<td><b ng-show="historicoTarefas[2].statusAlarme == 1"
										style="color: green">ATIVADO</b> <b
										ng-show="historicoTarefas[2].statusAlarme == 0"
										style="color: red">DESATIVADO</b><b
										ng-show="historicoTarefas[2].statusAlarme === null"
										style="color: green">N/A</b></td>
									<td>{{historicoTarefas[2].operador}}</td>
									<td><b ng-show="historicoTarefas[2].falha == 0"
										style="color: green">NÂO</b><b
										ng-show="historicoTarefas[2].falha > 0" style="color: red">SIM</b></td>
									<td><b
										ng-show="historicoTarefas[2].descricaoFalha === null"
										style="color: green">N/A</b><b
										ng-show="historicoTarefas[2].descricaoFalha !== null"
										style="color: #337ab7">{{historicoTarefas[2].descricaoFalha}}</b></td>
									<td><b
										ng-show="historicoTarefas[2].logProcessamentos !== null"
										style="color: green">{{historicoTarefas[2].logProcessamentos}}</b>
										<b ng-show="historicoTarefas[2].logProcessamentos === null"
										style="color: green">Tarefa Tratada e finalizada pelo
											operador.</b></td>

									<td>{{historicoTarefas[2].dataEncerramento.substring(8,
										10)}}/{{historicoTarefas[2].dataEncerramento.substring(5,
										7)}}/{{historicoTarefas[2].dataEncerramento.substring(0, 4)}}</td>
								</tr>

								<tr ng-show="historicoTarefas.length >= 3">

									<td>{{historicoTarefas[3].ultimoProcessamento.substring(8,
										10)}}/{{historicoTarefas[3].ultimoProcessamento.substring(5,
										7)}}/{{historicoTarefas[3].ultimoProcessamento.substring(0,
										4)}}</td>


									<td><b ng-show="historicoTarefas[3].statusAlarme == 1"
										style="color: green">ATIVADO</b> <b
										ng-show="historicoTarefas[3].statusAlarme == 0"
										style="color: red">DESATIVADO</b><b
										ng-show="historicoTarefas[3].statusAlarme === null"
										style="color: green">N/A</b></td>
									<td>{{historicoTarefas[3].operador}}</td>
									<td><b ng-show="historicoTarefas[3].falha == 0"
										style="color: green">NÂO</b><b
										ng-show="historicoTarefas[3].falha > 0" style="color: red">SIM</b></td>
									<td><b
										ng-show="historicoTarefas[3].descricaoFalha === null"
										style="color: green">N/A</b><b
										ng-show="historicoTarefas[3].descricaoFalha !== null"
										style="color: #337ab7">{{historicoTarefas[3].descricaoFalha}}</b></td>
									<td><b
										ng-show="historicoTarefas[3].logProcessamentos !== null"
										style="color: green">{{historicoTarefas[3].logProcessamentos}}</b>
										<b ng-show="historicoTarefas[3].logProcessamentos === null"
										style="color: green">Tarefa Tratada e finalizada pelo
											operador.</b></td>

									<td>{{historicoTarefas[3].dataEncerramento.substring(8,
										10)}}/{{historicoTarefas[3].dataEncerramento.substring(5,
										7)}}/{{historicoTarefas[3].dataEncerramento.substring(0, 4)}}</td>
								</tr>

								<tr ng-show="historicoTarefas.length >= 4">

									<td>{{historicoTarefas[4].ultimoProcessamento.substring(8,
										10)}}/{{historicoTarefas[4].ultimoProcessamento.substring(5,
										7)}}/{{historicoTarefas[4].ultimoProcessamento.substring(0,
										4)}}</td>


									<td><b ng-show="historicoTarefas[4].statusAlarme == 1"
										style="color: green">ATIVADO</b> <b
										ng-show="historicoTarefas[4].statusAlarme == 0"
										style="color: red">DESATIVADO</b><b
										ng-show="historicoTarefas[4].statusAlarme === null"
										style="color: green">N/A</b></td>
									<td>{{historicoTarefas[4].operador}}</td>
									<td><b ng-show="historicoTarefas[4].falha == 0"
										style="color: green">NÂO</b><b
										ng-show="historicoTarefas[4].falha > 0" style="color: red">SIM</b></td>
									<td><b
										ng-show="historicoTarefas[4].descricaoFalha === null"
										style="color: green">N/A</b><b
										ng-show="historicoTarefas[4].descricaoFalha !== null"
										style="color: #337ab7">{{historicoTarefas[4].descricaoFalha}}</b></td>
									<td><b
										ng-show="historicoTarefas[4].logProcessamentos !== null"
										style="color: green">{{historicoTarefas[4].logProcessamentos}}</b>
										<b ng-show="historicoTarefas[4].logProcessamentos === null"
										style="color: green">Tarefa Tratada e finalizada pelo
											operador.</b></td>

									<td>{{historicoTarefas[4].dataEncerramento.substring(8,
										10)}}/{{historicoTarefas[4].dataEncerramento.substring(5,
										7)}}/{{historicoTarefas[4].dataEncerramento.substring(0, 4)}}</td>
								</tr>


								<tr ng-show="historicoTarefas.length >= 5">

									<td>{{historicoTarefas[5].ultimoProcessamento.substring(8,
										10)}}/{{historicoTarefas[5].ultimoProcessamento.substring(5,
										7)}}/{{historicoTarefas[5].ultimoProcessamento.substring(0,
										4)}}</td>


									<td><b ng-show="historicoTarefas[5].statusAlarme == 1"
										style="color: green">ATIVADO</b> <b
										ng-show="historicoTarefas[5].statusAlarme == 0"
										style="color: red">DESATIVADO</b><b
										ng-show="historicoTarefas[5].statusAlarme === null"
										style="color: green">N/A</b></td>
									<td>{{historicoTarefas[5].operador}}</td>
									<td><b ng-show="historicoTarefas[5].falha == 0"
										style="color: green">NÂO</b><b
										ng-show="historicoTarefas[5].falha > 0" style="color: red">SIM</b></td>
									<td><b
										ng-show="historicoTarefas[5].descricaoFalha === null"
										style="color: green">N/A</b><b
										ng-show="historicoTarefas[5].descricaoFalha !== null"
										style="color: #337ab7">{{historicoTarefas[5].descricaoFalha}}</b></td>
									<td><b
										ng-show="historicoTarefas[5].logProcessamentos !== null"
										style="color: green">{{historicoTarefas[5].logProcessamentos}}</b>
										<b ng-show="historicoTarefas[5].logProcessamentos === null"
										style="color: green">Tarefa Tratada e finalizada pelo
											operador.</b></td>

									<td>{{historicoTarefas[5].dataEncerramento.substring(8,
										10)}}/{{historicoTarefas[5].dataEncerramento.substring(5,
										7)}}/{{historicoTarefas[5].dataEncerramento.substring(0, 4)}}</td>
								</tr>

								<tr ng-show="historicoTarefas.length >= 6">

									<td>{{historicoTarefas[6].ultimoProcessamento.substring(8,
										10)}}/{{historicoTarefas[6].ultimoProcessamento.substring(5,
										7)}}/{{historicoTarefas[6].ultimoProcessamento.substring(0,
										4)}}</td>


									<td><b ng-show="historicoTarefas[6].statusAlarme == 1"
										style="color: green">ATIVADO</b> <b
										ng-show="historicoTarefas[6].statusAlarme == 0"
										style="color: red">DESATIVADO</b><b
										ng-show="historicoTarefas[6].statusAlarme === null"
										style="color: green">N/A</b></td>
									<td>{{historicoTarefas[6].operador}}</td>
									<td><b ng-show="historicoTarefas[6].falha == 0"
										style="color: green">NÂO</b><b
										ng-show="historicoTarefas[6].falha > 0" style="color: red">SIM</b></td>
									<td><b
										ng-show="historicoTarefas[6].descricaoFalha === null"
										style="color: green">N/A</b><b
										ng-show="historicoTarefas[6].descricaoFalha !== null"
										style="color: #337ab7">{{historicoTarefas[6].descricaoFalha}}</b></td>
									<td><b
										ng-show="historicoTarefas[6].logProcessamentos !== null"
										style="color: green">{{historicoTarefas[6].logProcessamentos}}</b>
										<b ng-show="historicoTarefas[6].logProcessamentos === null"
										style="color: green">Tarefa Tratada e finalizada pelo
											operador.</b></td>

									<td>{{historicoTarefas[6].dataEncerramento.substring(8,
										10)}}/{{historicoTarefas[6].dataEncerramento.substring(5,
										7)}}/{{historicoTarefas[6].dataEncerramento.substring(0, 4)}}</td>
								</tr>


								<tr ng-show="historicoTarefas.length >= 7">

									<td>{{historicoTarefas[7].ultimoProcessamento.substring(8,
										10)}}/{{historicoTarefas[7].ultimoProcessamento.substring(5,
										7)}}/{{historicoTarefas[7].ultimoProcessamento.substring(0,
										4)}}</td>


									<td><b ng-show="historicoTarefas[7].statusAlarme == 1"
										style="color: green">ATIVADO</b> <b
										ng-show="historicoTarefas[7].statusAlarme == 0"
										style="color: red">DESATIVADO</b><b
										ng-show="historicoTarefas[7].statusAlarme === null"
										style="color: green">N/A</b></td>
									<td>{{historicoTarefas[7].operador}}</td>
									<td><b ng-show="historicoTarefas[7].falha == 0"
										style="color: green">NÂO</b><b
										ng-show="historicoTarefas[7].falha > 0" style="color: red">SIM</b></td>
									<td><b
										ng-show="historicoTarefas[7].descricaoFalha === null"
										style="color: green">N/A</b><b
										ng-show="historicoTarefas[7].descricaoFalha !== null"
										style="color: #337ab7">{{historicoTarefas[7].descricaoFalha}}</b></td>
									<td><b
										ng-show="historicoTarefas[7].logProcessamentos !== null"
										style="color: green">{{historicoTarefas[7].logProcessamentos}}</b>
										<b ng-show="historicoTarefas[7].logProcessamentos === null"
										style="color: green">Tarefa Tratada e finalizada pelo
											operador.</b></td>

									<td>{{historicoTarefas[7].dataEncerramento.substring(8,
										10)}}/{{historicoTarefas[7].dataEncerramento.substring(5,
										7)}}/{{historicoTarefas[7].dataEncerramento.substring(0, 4)}}</td>
								</tr>


								<tr ng-show="historicoTarefas.length >= 8">

									<td>{{historicoTarefas[8].ultimoProcessamento.substring(8,
										10)}}/{{historicoTarefas[8].ultimoProcessamento.substring(5,
										7)}}/{{historicoTarefas[8].ultimoProcessamento.substring(0,
										4)}}</td>


									<td><b ng-show="historicoTarefas[8].statusAlarme == 1"
										style="color: green">ATIVADO</b> <b
										ng-show="historicoTarefas[8].statusAlarme == 0"
										style="color: red">DESATIVADO</b><b
										ng-show="historicoTarefas[8].statusAlarme === null"
										style="color: green">N/A</b></td>
									<td>{{historicoTarefas[8].operador}}</td>
									<td><b ng-show="historicoTarefas[8].falha == 0"
										style="color: green">NÂO</b><b
										ng-show="historicoTarefas[8].falha > 0" style="color: red">SIM</b></td>
									<td><b
										ng-show="historicoTarefas[8].descricaoFalha === null"
										style="color: green">N/A</b><b
										ng-show="historicoTarefas[8].descricaoFalha !== null"
										style="color: #337ab7">{{historicoTarefas[8].descricaoFalha}}</b></td>
									<td><b
										ng-show="historicoTarefas[8].logProcessamentos !== null"
										style="color: green">{{historicoTarefas[8].logProcessamentos}}</b>
										<b ng-show="historicoTarefas[8].logProcessamentos === null"
										style="color: green">Tarefa Tratada e finalizada pelo
											operador.</b></td>

									<td>{{historicoTarefas[8].dataEncerramento.substring(8,
										10)}}/{{historicoTarefas[8].dataEncerramento.substring(5,
										7)}}/{{historicoTarefas[8].dataEncerramento.substring(0, 4)}}</td>
								</tr>


								<tr ng-show="historicoTarefas.length >= 9">

									<td>{{historicoTarefas[9].ultimoProcessamento.substring(8,
										10)}}/{{historicoTarefas[9].ultimoProcessamento.substring(5,
										7)}}/{{historicoTarefas[9].ultimoProcessamento.substring(0,
										4)}}</td>


									<td><b ng-show="historicoTarefas[9].statusAlarme == 1"
										style="color: green">ATIVADO</b> <b
										ng-show="historicoTarefas[9].statusAlarme == 0"
										style="color: red">DESATIVADO</b><b
										ng-show="historicoTarefas[9].statusAlarme === null"
										style="color: green">N/A</b></td>
									<td>{{historicoTarefas[9].operador}}</td>
									<td><b ng-show="historicoTarefas[9].falha == 0"
										style="color: green">NÂO</b><b
										ng-show="historicoTarefas[9].falha > 0" style="color: red">SIM</b></td>
									<td><b
										ng-show="historicoTarefas[9].descricaoFalha === null"
										style="color: green">N/A</b><b
										ng-show="historicoTarefas[9].descricaoFalha !== null"
										style="color: #337ab7">{{historicoTarefas[9].descricaoFalha}}</b></td>
									<td><b
										ng-show="historicoTarefas[9].logProcessamentos !== null"
										style="color: green">{{historicoTarefas[9].logProcessamentos}}</b>
										<b ng-show="historicoTarefas[9].logProcessamentos === null"
										style="color: green">Tarefa Tratada e finalizada pelo
											operador.</b></td>

									<td>{{historicoTarefas[9].dataEncerramento.substring(8,
										10)}}/{{historicoTarefas[9].dataEncerramento.substring(5,
										7)}}/{{historicoTarefas[9].dataEncerramento.substring(0, 4)}}</td>
								</tr>

							</tbody>
							<tfoot>
								<tr>
									<th>DATA PROCESSAMENTO</th>
									<th>STATUS ALARME</th>
									<th>OPERADOR</th>
									<th>ERRO NO PROCESSAMENTO?</th>
									<th>DESCRIÇÃO DA FALHA</th>
									<th>LOG DO PROCESSAMENTO</th>
									<th>DATA ENCERRAMENTO</th>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>





				<!-- /panel group info cliente -->
			</div>
		</div>
	</div>
	<!-- /panel body info cliente -->
</div>
<!--/collapse-->
</div>
<!--/panel info cliente-->