<!-- container -->
<div class="container" ng-hide="loading">

	<!-- <div class="alert alert-success fade in" style="margin: 10px" ng-show="msgSucesso !== undefined">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>{{msgSucesso}} </strong>
    </div> -->

	<div class="alert alert-danger fade in" style="margin: 10px"
		ng-show="msgErro !== undefined">
		<strong>{{msgErro}}</strong>
	</div>

	<!-- panel group -->
	<div class="panel-group">

		<!-- panel info cliente -->
		<div ng-include="'view/panelInfoCliente.html'" ng-hide="loading"></div>

		<!-- imagens cameras,  imagens referencia,  imagens ao vivo -->
		<div ng-include="'view/panelImagens.html'" ng-hide="loading"></div>

	</div>
	<!-- /panel group -->
</div>
<!-- /container -->